@import "src/styles.scss";

.root-container {
}

.header {
    width: 100%;
    height: 5vh;
    padding: 0 0;
    display: inline-block;
}

.content-body {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 50px;
    height: 100%;
    width: $content-body-lg;
}

.footer {
    height: 5vh;
}

.pad-bottom {
    padding-bottom: 90px;
}
/* Applies to all widths under 1440px */
@media screen and (max-width: 1440px) {
    .content-body {
        width: $content-body-md;
    }
}

/* Applies to all widths under 1440px */
@media screen and (max-width: 768px) {
    .content-body {
        width: $content-body-sm;
    }
}

p {
    background-color: purple;
}

body {
    overflow-x: hidden;
}