<div class="social-bar">
    <ul>
        <li>
            <a class="github" target="_blank" href="https://github.com/DavidDev21" title="Check out my Github">
                <i class="fab fa-2x fa-github"></i>
            </a>
        </li>
        <li>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/david-zheng-977746b2/" title="Connect me on LinkedIn">
                <i class="fab fa-2x fa-linkedin-in"></i>
            </a>
        </li>
        <li>
            <a class="email" target="_blank" href="mailto:david.zheng@nyu.edu" title="Contact me">
                <i class="far fa-2x fa-envelope"></i>
            </a>
        </li>
        <li>
            <a class="download" target="_blank" href="assets/David_Zheng_Resume_Clean.pdf" title="Download resume" download="David Zheng Resume">
                <i class="fas fa-2x fa-download"></i>
            </a>
        </li>
    </ul>
</div>